{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}Dog Clicker{% endblock %}</title>   

    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">

    {% block styles %}{% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>